.item {
  border-bottom: 1px solid #eee;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-right: 1.25rem;
  padding-bottom: 0.75rem;
  padding-top: 1rem;
}

.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.item h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2;
  max-width: calc(100% - 3rem);
  margin: 0;
  flex: 1 auto;
}

.description {
  max-width: calc(100% - 3rem);
  cursor: pointer;
}

.descHidden {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item p {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.2;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  flex: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
}

.button svg {
  width: 1.5rem;
  height: 1.5rem;
  transform: translatex(-0.125rem) scale(0.95);
}

.button:hover {
  color: rgba(47, 128, 237, 0.87);
}

.active {
  color: #2f80ed;
}
